<html lang="en">
   <heading class="banner">
      <nav>
         
         <ul class="nav-button">
            <span style="font-size: 25px; font-family: 'Comfortaa', Comfortaa;"><li><b>Photo App</b></li></span>
            
            <span style="font-size: 10px; padding-top: 10px; font-family: 'Comfortaa', Comfortaa;"><b>
            <li style="padding-right: 5px;">{{ user.get('username') }}</li>
            <li style="color: #3f729b; padding-left: 0px;">Sign out</li></b>
            </span>
        </ul>
      
      </nav>
   </heading>
</html>