<!DOCTYPE html>
<html lang="en">

<head>
   <title style="font-family: Comfortaa">Photo App</title>
   <link rel="stylesheet" href="/static/styles.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
   <link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet'>
</head>

<div class="container">
   {% include 'includes/navbar.html' %} 

   {% include 'includes/stories.html' %}
   
   {% include 'includes/cards.html' %}
   
   {% include 'includes/suggestions.html' %} 

</div>

</html>

<!-- 
   To do this, instead of going to advance settings, when an User post an image, 
   there will be an alt-text section underneath the write a caption section.
 -->